$color1: #464439;
$color2: #7A6F41;
$color3: #B6A796;

$maxWidth: 1500;
$maxWidthContainer: 1280;



@mixin adaptive-indent($property, $TBstartSize, $TBminSize, $RLstartSize, $RLminSize, $type) {
    $TBaddSize: $TBstartSize - $TBminSize;
    $RLaddSize: $RLstartSize - $RLminSize;

    @if $type==1 {
        //Только если меньше контейнера
        #{$property}: $TBstartSize + px $RLstartSize + px;

        @media(max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$TBminSize + px} + #{$TBaddSize} * ((100vw - 425px) / #{$maxWidthContainer - 425})) calc(#{$RLminSize + px} + #{$RLaddSize} * ((100vw - 425px) / #{$maxWidthContainer - 425}));
        }
    }

    @else if $type==2 {
        //Только если больше контейнера
        #{$property}: $TBstartSize + px;
        #{$property}: $RLstartSize + px;

        @media(min-width: #{$maxWidthContainer + px}) {
            #{$property}:calc(#{$TBminSize + px} + #{$TBaddSize} * ((100vw - 425px) / #{$maxWidth - 425})) calc(#{$RLminSize + px} + #{$RLaddSize} * ((100vw - 425px) / #{$maxWidth - 425}));
        }
    }

    @else {
        //Всегда
        #{$property}:calc(#{$TBminSize + px} + #{$TBaddSize} * ((100vw - 425px) / #{$maxWidth - 425})) calc(#{$RLminSize + px} + #{$RLaddSize} * ((100vw - 425px) / #{$maxWidth - 425}));
    }
}


@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type==1 {
        //Только если меньше контейнера
        #{$property}: $startSize + px;

        @media(max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 425px) / #{$maxWidthContainer - 425}));
        }
    }

    @else if $type==2 {
        //Только если больше контейнера
        #{$property}: $startSize + px;

        @media(min-width: #{$maxWidthContainer + px}) {
            #{$property}:calc(#{$minSize + px} + #{$addSize} * ((100vw - 425px) / #{$maxWidth - 425}));
        }
    }

    @else {
        //Всегда
        #{$property}:calc(#{$minSize + px} + #{$addSize} * ((100vw - 425px) / #{$maxWidth - 425}));
    }
}