@import '../assets/fonts/oswald.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald';
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald';
    font-weight: 600;
}


.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #FFF;
}

img {
    width: 100%;
}

.header {
    background-image: url('../assets/images/main/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    position: relative;
    min-height: 600px;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .7;
        background: linear-gradient(90deg, rgb(64, 65, 73), rgb(64, 65, 73));
    }

    .container {
        position: relative;
        z-index: 10;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        margin-bottom: 200px;

        &__left {
            display: flex;
            gap: 15px;
        }
    }
}

section {
    padding: 20px 0;
    margin-top: 80px;

    h2 {
        margin-bottom: 30px;
        text-align: center;
    }
}

#backToTop {
    position: fixed;
    bottom: 1%;
    right: 1%;
    color: #F7654A;
    z-index: 90;

    svg {
        background: #FFF;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}

.about {
    background: #F7654A;
    color: #FFF;

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        margin-bottom: 10px;
        text-align: left;
    }

    &__text {}


    &__img {
        text-align: right;

        svg {
            width: 60%;
            height: auto;
        }
    }
}

.quality {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &__img img {
        border-radius: 30% 10% 60% 10%;
    }
}

.ourServices {
    text-align: center;

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        gap: 50px;
    }

    &__item {
        padding: 50px 20px;
        background: #F7F7F7;
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);


        &-img {
            color: #F7654A;
            margin-bottom: 20px;

            svg {
                width: 60px;
                height: 60px;
            }
        }
    }
}

.partners {
    background: #404149;
    color: #FFF;
    padding: 60px 0;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 10px;
        justify-content: space-between;
        text-align: center;
    }

    &__img {
        width: 170px;
    }
}

.contacts {
    margin-top: 50px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 10px;
        justify-content: space-between;
        text-align: center;
    }

    &__item {
        width: 300px;

        &-img {
            color: #F7654A;

            svg {
                width: 50px;
                height: 50px;
            }
        }

        &-title {
            color: #999999;
            margin: 10px 0;
        }
    }
}

.footer {
    margin-top: 150px;
    background: #404149;
    color: #FFF;
    padding: 15px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}