@import '../assets/fonts/oswald.css';
@import 'mixin.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald';
    font-weight: 400;
    @include adaptive-value('font-size', 16, 12, 3);
}

body.active {
    overflow: hidden;

    #backToTop {
        z-index: auto;
    }
}

html body {
    top: 0 !important;
}

.skiptranslate {
    iframe {
        display: none;
    }
}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald';
    font-weight: 600;
}

h1 {
    @include adaptive-value('font-size', 46, 24, 3);
}

h2 {
    @include adaptive-value('font-size', 38, 18, 3);
}

h3 {
    @include adaptive-value('font-size', 24, 16, 3);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #FFF;
}

img {
    width: 100%;
}

.header {
    background-image: url('../assets/images/main/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    position: relative;
    min-height: 600px;
    @include adaptive-value('min-height', 600, 350, 3);

    h1 {
        @include adaptive-value('margin-top', 200, 70, 3);
    }

    .burger {
        display: none;
    }

    .backgroundRed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .25;
        z-index: 9;
        background: #F7654A;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .7;
        z-index: 10;
        background: rgb(64, 65, 73);
    }

    .container {
        position: relative;
        z-index: 10;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;

        #google_translate_element {
            select {
                background: #F7654A;
                color: #FFF;
                font-family: 'Oswald';
                font-weight: 500;
                outline: none;
                border-radius: 5px;
                border: none;
            }

            span {
                display: none;
            }

            .goog-te-gadget {
                font-size: 0;
            }
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 15px;

            .active {
                color: #F7654A;
                text-decoration: underline;
            }
        }

        &__right {
            color: #F7654A;
        }
    }
}

section {
    padding: 20px 0;
    @include adaptive-value('margin-top', 80, 40, 3);

    h2 {
        margin-bottom: 30px;
        text-align: center;
    }
}

#backToTop {
    position: fixed;
    bottom: 1%;
    right: 1%;
    color: #F7654A;
    z-index: 80;
    cursor: pointer;

    svg {
        background: #FFF;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}

.about {
    background: #F7654A;
    color: #FFF;

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        margin-bottom: 10px;
        text-align: left;
    }

    &__text {
        @include adaptive-value('font-size', 24, 14, 3);
    }


    &__img {
        text-align: right;
        width: 60%;
        margin-left: auto;

        svg {
            width: 100%;
            height: auto;
        }
    }
}

.quality {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;

    h2 {
        margin-bottom: 0;
    }

    &__img img {
        border-radius: 30% 10% 60% 10%;
        border: #404149 1px solid;
        border-bottom: #404149 2px solid;
        border-right: #404149 2px solid;
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
}

.ourServices {
    text-align: center;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 50px;
        @include adaptive-value('gap', 50, 25, 3);
    }

    &__item {
        width: 280px;
        padding: 30px 20px;
        background: #F7F7F7;
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);


        &-img {
            color: #F7654A;
            margin-bottom: 20px;

            svg {
                width: 60px;
                height: 60px;
            }
        }
    }
}

.partners {
    background: #404149;
    color: #FFF;
    padding: 60px 0;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    &__img {
        width: 170px;

        img {
            height: 70px;
            object-fit: contain;
        }
    }
}

.contacts {
    margin-top: 50px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 10px;
        justify-content: center;
        text-align: center;
    }

    &__item {
        width: 300px;

        &-img {
            color: #F7654A;

            svg {
                width: 50px;
                height: 50px;
            }
        }

        &-title {
            color: #999999;
            margin: 10px 0;
        }
    }
}

.footer {
    margin-top: 150px;
    background: #404149;
    color: #FFF;
    padding: 15px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media (max-width:1300px) {
    .container {
        @include adaptive-value ('padding-left', 32, 16, 3);
        @include adaptive-value ('padding-right', 32, 16, 3);
    }
}

@media (max-width:425px) {
    .header {

        .burger {
            width: 40px;
            height: 35px;
            position: fixed;
            top: 3px;
            right: 1%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #F7654A;
            z-index: 90;
            background: #404149;
            padding: 5px;
            border-radius: 3px;

            .line {
                display: block;
                width: 100%;
                height: 4px;
                background-color: #FFF;
                transition: transform 0.3s ease;
                border-radius: 3px;
            }

            &.active {
                .line1 {
                    transform: translateY(11px) rotate(45deg);
                }

                .line2 {
                    opacity: 0;
                }

                .line3 {
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
        }

        .nav {
            &__items {
                position: fixed;
                right: -100%;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                background: #F7654A;
                z-index: 90;
                text-align: center;
                @include adaptive-value('font-size', 26, 22, 3);
                padding-top: 100px;
                transition: all 0.7s ease;

                a {
                    display: block;
                    margin-bottom: 50px;
                }

                &.active {
                    right: 0;
                    transition: all 0.7s ease;
                }
            }
        }

    }

    .about {
        .container {
            grid-template-columns: 3fr 1fr;
        }

        &__img {
            width: 100%;
        }
    }

    .ourServices {}

    .quality {
        grid-template-columns: 1fr;

        &__img {
            width: 90%;
            margin: 0 auto;
        }
    }
}